[2015-05-22 00:32] ilrein opened #1 "Embedded SDK"
Hello,

Amazing library @froatsnook -- and awesome docs to boot.

Is it possible to use this library to create an embedded SDK app?

[2015-05-22 06:27] froatsnook commented on #1
Wow, thank you!!

I have never created an embedded SDK app.  At a glance, it looks like it should be possible to make a small modification to `PublicAppOAuthAuthenticator` which redirects to a script as described [here](https://docs.shopify.com/embedded-app-sdk/getting-started).  I'm not sure what other changes would be helpful/necessary for embedded SDK app development.

So at the moment, no it's

[2015-05-22 13:16] ilrein commented on #1
Undoubtedly, it would be the feature that could solidify this library the best Shopify/Meteor integration. Any Shopify developer worth their salt will be using the embed SDK to give their apps a native, integrated feel. It's a MUST have.

[2015-05-24 08:00] froatsnook commented on #1
@ilrein 1.3.0 is published.  Let me know how it goes (if you try it) :)

[2015-05-24 08:00] #1 closed, assigned to nobody

[2015-05-26 15:19] ilrein opened #2 "Access Token"
Hey @froatsnook, thanks for updating the package and implementing the embedded app feature!

I've been studying your example application, and I can successfully load my app as an iFrame in the Shopify dashboard! Very exciting.

So my next logical step was to actually pull some data from my store to do stuff. Which is where I need some assistance...

For example, I tried this:

 ` 'click #test': fu

[2015-05-26 17:22] froatsnook commented on #2
Hey @ilrein.  I'm glad you were able to load it in the dashboard.

This Exception is actually something very easy!  In the `onAuth` callback the parameter is called `accessToken`, but then later you refer to it as `access_token`.  This has bitten me before too since I normally camelCase but shopify likes to snake_case.  Sometimes they even camel case, as you'll see below!

I have no experience wit

[2015-05-26 17:24] froatsnook commented on #2
I will update the example.

EDIT: Done!  That was a good idea.

[2015-05-26 21:48] ilrein commented on #2
@froatsnook thanks so much, for all your help! I'm digging into your answer, reviewing the sample app, and adjusting my own app. I'll let know how to streamline the docs once I get everything rolling. I'm so close, I can taste it!

EDIT: _BAM_ I got some data! We are officially a go!

So, quick takeaway, `var api` needs to be defined outside of `getEmbeddedAppAPI`, and then you can use its method

[2015-05-27 05:33] froatsnook commented on #2
@ilrein Great that it's working.

And a visual tutorial like that would be great.  Even just screenshots would be nice.

Good luck with your project :).  Maybe we can add a logo to the README when you go live?

[2015-05-27 05:33] #2 closed, assigned to nobody

[2015-06-18 14:59] ilrein opened #3 "Defining New API Methods"
Hey @froatsnook,

I'm still coding away at Shopify apps and making use of this library heavily.

I noticed that there aren't any methods for the script tag: https://docs.shopify.com/api/uiintegrations/scripttag#index

So, I tried to use the define approach:

`var shop = Meteor.user().profile.shopName;
  var access_token = Meteor.user().profile.shopifyAccessToken;
  var api = new Shopify.API({

[2015-06-18 17:10] froatsnook commented on #3
Hey @ilrein

It looks like the only problem with this is that it should return `script_tags` (with an underscore).

Could there ever be more than 50 results? If so, use Shopify.API.defineConcat. That way it will return more than 50 if necessary.

I'm away from my computer for a couple weeks, but I'll give this a try and add it to the library when I get a chance :).

[2015-06-18 17:34] ilrein commented on #3
Yes! I got it!

Thanks so much for the fast responses, even when you're on vacation or whatnot.

I see that the "returns" actually references the key from Shopify's response object. It all makes sense now.

EDIT: I'm trying to "POST" a script tag (everything is on the server side) --

  `Shopify.API.define({
      "name": "postScriptTag",
      "method": "POST",
      "path": "/admin/script_tags.j

[2015-06-29 19:19] froatsnook commented on #3
Hi @ilrein.  Sorry I missed this message.  I think I'm using `POST` in production.  Let me get back to you on that!

[2015-06-29 20:50] froatsnook commented on #3
@ilrein You're right.  I'm using `POST` but only with an empty request body.  I'll get a new version up ASAP.  Thanks for reporting!

[2015-07-06 16:27] #3 closed, assigned to nobody

[2015-07-06 16:30] froatsnook commented on #3
Hey @ilrein 1.4.0 adds support for specifying the request body.  This should let you create metafields properly.

Documented [here](https://github.com/froatsnook/meteor-shopify/commit/60a1360abc998a912ec65eb20209a7dfc50729bf).

Thanks for reporting and please let me know if you have other issues!

[2015-07-24 03:06] galenking opened #4 "Basic tutorial?"
Hey @froatsnook, thanks for this! It's fantastic.

I'm a total Meteor novice and was hoping I could quickly get something working but I am totally struggling to get this to work—even in a simple form.

Would it be too much to ask for a few code samples for the server, client and template to get this working?

When I attempt to use this, I am stuck on what should be in "server" code and what should

[2015-07-24 06:02] froatsnook commented on #4
Hey @galenking. Thank you! And welcome to Meteor :).

Sure, I can make a basic tutorial. I will try to push something tonight.

[2015-07-24 09:37] galenking commented on #4
Thanks @froatsnook. I did get it working but was having some sort of issue with the authentication on the callback. I think my problem is I'm just not entirely sure how to set up up—what's on the server, what's on the client etc.

[2015-07-24 21:10] froatsnook commented on #4
Hi @galenking Yes, that's understandable. Are you using a private or a public app? And what is the goal of your program? I think I can guide you better with a bit more info.

[2015-07-25 02:21] galenking commented on #4
Thanks @froatsnook. I'm basically wanting to be able to very simply output all open orders and all products from open orders.

At least initially.

Once I've got the gist of how this works, anything else should be straightforward. Ideally, I am wanting a public app.

[2015-07-25 19:37] froatsnook commented on #4
Hey @galenking.  I started on a basic tutorial.  It will be up in a few days.  I'll write again here when it's done :).

[2015-08-09 23:56] galenking commented on #4
Hi @froatsnook, sorry to chase you! I don't mean to. Just wondering if you got the tutorial done? If not, no worries. I really appreciate what you have created regardless! :)

[2015-08-10 07:35] froatsnook commented on #4
Hey @galenking.  Sorry for the delay.  I started working on it and haven't had time to finish.  I hope to get around to finishing it soon!

[2015-08-10 18:43] galenking commented on #4
Thanks @froatsnook.

[2015-09-09 15:56] lukeclifton opened #5 "OAuth HMAC Verification"
Hey.

Great to see this package for using Shopify with Meteor. I created a package with a similar goal but it was my first attempt and pretty bad, so i want to re-write.

One question regards your package...i can't see anywhere in the code that your doing any kind of HMAC verification. Am i missing it or is it yet to be added?
https://docs.shopify.com/api/authentication/oauth#verification

Thanks,

[2015-09-09 16:25] lukeclifton opened #6 "Storing access token in users profile"
Sorry me again. :)

I noticed that upon generating the permanent access token, your storing it on the users profile object.

I may be wrong but i'm pretty sure this is not recommended as the users profile object is always published to the client and is insecure.

https://meteor.hackpad.com/Proposal-for-deprecating-user-profile-3UljX1VayvV

I think the way to do it is via the core service configura

[2015-09-09 17:44] froatsnook commented on #5
OK if I understood that correctly, the HMAC verification is to check that responses from Shopify haven't been MITMed.  This isn't something that I've implemented.  I never thought about this since it's an https connection anyway.  For my usage it's not necessary, but if someone requests it, then I'll implement it.  It doesn't look too complicated.

[2015-09-09 17:48] froatsnook commented on #6
Where did you see it stored in the user's profile?  I might have done that for simplicity in an example app?  The normal way is to use `Shopify.addKeyset`, and then everything lives on the server (requests from the client are proxied).

I think it's probably not the best idea to store it in the user profile since someone could mess up your app's rate limiting or something.  It would be worse to st

[2015-09-29 11:15] thiagoc7 opened #7 "Oauth error"
Hey @froatsnook, thanks for this library!

I can't authenticate, even using your sample app. Get this error:
`Oauth error invalid_request: The redirect_uri is missing or not whitelisted`

Do you know what am I doing wrong?
The `Redirection URL (required)` on shopify partners page should be `http://localhost:3000/`?

Thanks!

[2015-09-29 13:07] froatsnook commented on #7
Hey @thiagoc7,

Thanks for creating this issue.  My app in production broke and I hadn't realized it yet!

From https://docs.shopify.com/api/authentication/oauth:

By default, when you use `Shopify.PublicAppOAuthAuthenticator`, `redirect_uri = Meteor.absoluteUrl("__shopify-auth/" + Meteor.uuid())`.  Then this UUID is used in `AuthRedirect.js` to connect the outgoing request with the incoming respo

[2015-09-30 08:15] froatsnook commented on #7
My app broke in production for a different reason.  But your bug is real!  New apps require the `redirect_uri` to be whitelisted.  So you should whitelist `localhost:3000/__shopify-auth` (with 2 underscores) in your partner account: App -> Your App -> Edit app settings -> Redirect URL.  I've uploaded version 1.4.1 which uses a URL format that can be whitelisted.  I've also documented this in the R

[2015-10-11 14:58] thiagoc7 commented on #7
Hi @froatsnook, thanks!
I still have the same issue on the example app, this is the url:

`https://money-project.myshopify.com/admin/oauth/authorize?client_id=435afe29738a57022af98291ff2db7cb&scope=read_content,write_content,read_themes,write_themes,read_products,write_products,read_customers,write_customers,read_orders,write_orders,read_script_tags,write_script_tags,read_fulfillments,write_fulfil

[2015-10-11 15:59] froatsnook commented on #7
1. Just to be sure, you're using the EmbeddedAppSDKTest example, right?
2. What version of froatsnook:shopify is installed?  Check with `meteor list`.  If necessary, run `meteor update`.

I think it must be the case that you're still using 1.3.1 or 1.4.0 since in 1.4.1 then `redirect_uri` looks like `/__shopify-auth?id=UUID`.  Until just now, it was referencing froatsnook:shopify@1.3.1 in the exam

[2015-10-11 16:00] thiagoc7 commented on #7
Yes, I'm using the example app, and just clonned a new repo. Is it working for you?

Thiago Correa
Sent using CloudMagic [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=6.0.64&pv=8.1.1]
On dom, out 11, 2015 at 12:59 PM, froatsnook notifications@github.com wrote:
1. Just to be sure, you're using the EmbeddedAppSDKTest example, right?
2. What version of froatsnook:shopify is installed? Check with meteo

[2015-10-11 16:03] froatsnook commented on #7
What do you mean by _just_?  In the past 9 minutes?  What does `meteor list` say?

[2015-10-11 16:05] froatsnook commented on #7
OK I see what's going on.  Let me look into this.

[2015-10-11 16:18] froatsnook commented on #7
1.4.2 is published, and hopefully this is fixed.  Thanks for reporting!

[2015-10-11 16:18] #7 closed, assigned to nobody

[2015-11-03 23:02] de-anchorite commented on #7
Hey @froatsnook,

Also wanted to say thanks for the package - it has helped me get most of the way to Shopify authorisation.

However, I have hit this issue with the latest version of your package I'm afraid; the ?id=UUID part of the redirect uri is being URL encoded at the end of the PublicAppOAuthAuthenticator constructor.  This means that the UUID becomes part of the redirect uri that needs to

[2015-11-03 23:13] froatsnook commented on #7
Hi @sum1youno. Thanks for your message. Good news! You can just whitelist the url without the uuid (everything up to the '?') and it will work. Give it a try and let me know if it doesn't work. Also, how can I clarify the docs to make this easier? That would be a great pull request!

[2015-11-03 23:26] de-anchorite commented on #7
Yeah, tried that with no luck unfortunately.

I have whitelisted http://localhost:3000/__shopify-auth, yet it still doesn't like it.  Incidentally, the Shopify documentation sates the following about the redirect uri:

which I think suggests that the UUID would need to be included in the whitelist, sue to it being encoded, and Shopify not knowing about the "id" parameter.

I'll let you know how I

[2015-11-03 23:28] froatsnook commented on #7
That's strange because I switched it to using query param at the suggestion of a shopify dev, and I'm pretty sure this was working in my tests! I will take another look if I have time this week.

[2015-11-04 01:19] dbnoble commented on #7
sum1youno,

Add this to your PublicAppOAuthAuthenticator (just underneath keyset line works fine)

[code]

For some reason, Shopify is requiring you to whitelist it in the app settings AND refer to it directly within the init.

That solved that issue for me, unfortunately I now am getting a different error:

[code]

[2015-11-04 18:37] froatsnook commented on #7
@dbnoble I just published 1.4.3 with @sum1youno's pull request.  Hopefully that will fix your `Shopify Auth failed because no handler` error!  Be sure to get rid of the `redirect_uri` you specified so that everything will be automatic (otherwise IIRC meteor-shopify will let you handle it yourself).

[2015-11-05 03:31] dbnoble commented on #7
@froatsnook Looks like auth is working properly now with this latest change. Thanks for the support! I was really not looking forward to moving back to rails since I'm pretty rusty in it now.

[2015-11-10 05:42] dbnoble opened #9 "Keyset Persistence"
Why are we persisting the keysets in memory instead of simply storing them in a collection on the database?

Especially since there is no way to check if a current keyset exists, the keyset has to be reestablished constantly to be fully reliable. Every time you push code, the keysets will all be flushed.

[2015-11-10 09:07] froatsnook commented on #9
The intention was to leave this up to the library user.

I have two apps in production, and each is handled differently:

One uses private API, and there I store the credentials in `settings.json` and call `Shopify.addKeyset` in `Meteor.startup` on the server.

The other uses the public API.  This one has multiple users per client (with one shop per client).  So after a user authenticates, the cre

[2015-11-10 12:40] dbnoble commented on #9
I guess my main problem stems from me not fully understanding the intended authorization flow for getting the auth token saved and saving it only on the SERVER because the example app (and all of the examples) seem to be doing this client side where in production they should be handled server-side.

I think for the most part this is just the frustration of so many hours working on this that it's j

[2015-11-10 12:53] dbnoble commented on #9
Also I should note that I was initially actually logging the user in, and in the onBeforeAction doing a check to see if the current user's shop matched the loaded shop param and send them back through reauth and login if not (my target demographic is likely to have multiple shops). I didn't really like the way that worked so I decided to just use the accounts for the OAuth service config and not a

[2015-11-10 12:56] froatsnook commented on #9
I feel your pain. Originally this library was just private API and much simpler.

The public app workflow (with PublicAppOAuthAuthenticator.openAuthTab)  is a combination of client (by necessity) and sever (for security). Your secrets live on the server and the client just starts the Auth process. The Auth finishes on the server, so the client never even needs to see his access_token. I can live i

[2015-11-10 13:14] froatsnook commented on #9
I am currently out of the office (and I've never used these features so I'm not positive it works like this), but I would aim for this:
1. Users create an account by logging in via some shopify shop. Save the service name as the shop name. This saves the access token in user.services and sets a cooki so that the user remains logged in.
2. The user can add additional shops somewhere in an account p

[2015-11-10 13:21] dbnoble commented on #9
Thanks for your response and work on the package.

I did consider that I could still log the user in and just add the different shops as an array instead of a string, so that's something I may work on, although it might get rather complex in terms of creating charges through Shopify's billing API lol.

Primarily I just wanted to know if passing the access token through onAuth and then calling a me

[2015-11-10 14:10] froatsnook commented on #9
Yes you're right. Based on how I'm thinking about it now, it's insecure since the access_token is leaking to the client. When I wrote this code I just didn't want to expose the secret keys. But I think it would be better to not expose it. I will add secure:true as an option and then figure out a way to do onAuth server side. Possibly you can pass a value userData which will given to onAuth callbac

[2015-11-10 18:47] dbnoble commented on #9
Okay I've made some headway on all fronts using my own redirect_uri and handling the code conversion and post-auth functions server-side.

Here is a basic example:

client-side authenticator:

[code]

/server/init.js

[code]

/lib/routing/routes.js

[code]

Works perfectly, although I recommend implementing HMAC verification on a production app, which will also be useful when identifying which key

[2015-11-11 07:36] froatsnook commented on #9
Hey @dbnoble.  I'm glad you were able to get it working.  Do you have any suggestions for docs or code to make this easier?

I had a look at the code and saw that I started work on a 1.5.0 branch specifically to deal with the access_token being leaked to the client.  I'll publish this once I've written some tests.

Would having a server-side onAuth handler that looks like this fix your issues with

[2015-11-11 07:38] #6 closed, assigned to nobody

[2015-11-11 20:18] dbnoble commented on #9
@froatsnook a serverSide onAuth hook would be excellent! Paired with persisted keysets, that would allow us to use a waitOn for the app's route to prevent the race condition I have experienced where the template renders before the keyset exists, causing the API to init with undefined credentials.

Is there any way to to use the default handler without opening a new tab/window? I've noticed that at

[2015-11-11 21:18] froatsnook commented on #9
Hey @dbnoble.  So are you thinking you'll subscribe to the Keysets in the waitOn?  How does a server-side onAuth help you in this scenario?  Maybe you could post some "sample code" of how it should work?

As for the new tab, somehow the user has to get to shopify's login page.  There are 3 options I thought of and listed in the readme.  The first is opening a new tab, which you know.  The second i

[2015-11-11 21:24] froatsnook commented on #9
How are your keysets created?

[2015-11-11 22:19] froatsnook commented on #9
1.5.0 is published with server-side `onAuth`, `Shopify.harden()` to not leak `access_token`.  No HMAC or keyset persistence yet.

[2015-11-13 13:22] dbnoble commented on #9
@froatsnook I have moved back to logging in users for the time being by using a server-side 'gateway' page and if the current shop param does not match the current logged in user's shop it logs them out and reauthenticates. It will then log in the appropriate user or creates a new user if necessary after validating the HMAC. This works and is more or less instant when switching users, and aside fr

[2015-11-13 13:50] dbnoble commented on #9
In regards to using waitOn for routes, now that I have moved everything back to a logged-in user environment, I can simply waitOn the user details publication on my route so that the dashboard will not render and try to instantiate the API before the userId is available after creation.

I should note that I have never had to do that before. For some reason, the user object does not seem to be avai

[2015-11-13 14:27] froatsnook commented on #9
OK, thanks for the info!

Did I understand this correctly?  You're using Shopify's auth for account creation and login?  That sounds really cool.  Are you still using PublicAppOAuthAuthenticator?  Did you use iframes or direct login or opening a new tab or something else?  How does the "gateway" page work?

I also have never had problems accessing the user object.  But I think it's because I have

[2015-11-13 14:34] lukeclifton commented on #9
Need to catch up on this chat but in the meantime, are you guys both still using Iron Router?

[2015-11-13 14:43] froatsnook commented on #9
@lukeclifton Yes, I'm using iron router.

[2015-11-13 16:24] dbnoble commented on #9
@lukeclifton Yep, still using iron router.

@froatsnook in terms of the gateway, I guess page is the wrong word, it's actually a clientside route that does some checks and either sends the user to the dashboard or redirects them to the authentication flow similar to the one I posted earlier.

I am indeed still using PublicAppOauthAuthenticator with direct navigation and a slightly different versio

[2015-11-13 19:15] lukeclifton commented on #9
@dbnoble Glad you found some of the code from my original meteor-shopify-api package useful. I needed to get logging in via Shopify OAuth / custom external service working from the get go so took me a while but got there in the end.

Its probably not perfect but points in the right direction. It was my first Meteor package.

Its my intention to re-write the package now that i have a lot more exper

[2015-11-13 20:36] froatsnook commented on #9
@dbnoble Fantastic.  Thanks a lot for posting the code.  It'd be nice if the package could do all the heavy lifting for you.  I'll have to think about this some more.

@lukeclifton Contributions would be much appreciated!  To give you an idea of where this package stands w.r.t. your objectives, I'm pleased that the OAuth is working for people, but it definitely doesn't match the official OAuth pac

[2015-11-13 22:30] dbnoble commented on #9
Yes obviously my implementation is quite hack-y but this is almost by necessity. My target market for the app I am working on is significantly more likely to be running multiple Shopify stores, so I really have to take that into account and provide some type of logic for switching users since Meteor logins are persisted in local storage.

Ideally I could just share the shop and access tokens acros

[2015-11-14 09:33] lukeclifton commented on #9
@dbnoble yeah i had to take the same kind of approach, get it working with the plan of coming back later to perfect.

Out of curiosity where abouts are you guys based? @dbnoble @froatsnook

[2015-11-14 14:01] froatsnook commented on #9
@dbnoble: Good luck with the app!

[2015-11-23 08:02] bytesandwich commented on #4
Hey @froatsnook do you have an example with everything wired together the way you intend?

[2015-11-24 18:50] froatsnook commented on #4
Hey @jackphel, have you seen the EmbeddedAppSDKTest?  All the pieces are there, and maybe it will hold you over until I make a simpler example.  It's more like an example than a test!

[2015-12-17 00:53] 4Z4T4R opened #10 "api_key is not being picked up from keyset"
@froatsnook - I have a situation encountered and fixed.

[code]

This yields the following error:

[code]

Works fine when I omit the keyset and pass the values into `new Shopify:API`

[2015-12-17 01:12] 4Z4T4R commented on #10
![image](https://cloud.githubusercontent.com/assets/2956998/11858484/f147f5e8-a416-11e5-82cb-5eea74bafd6d.png)

The error crops up on line 84. Earlier in the code you make the assignment to `this.config.password` from `keyset.password` as well as `this.config.api_key` from `keyset.api_key` but you short circuit the code by checking for `options.api_key` rather than `this.config.api_key`. The latte

[2015-12-17 07:55] froatsnook commented on #10
Hey @toszter, I'm glad you found this.  Bad problem, good fix.  I'm happy!  Thank you very much.

[2015-12-17 07:55] #10 closed, assigned to nobody

[2015-12-17 19:53] froatsnook commented on #9
@dbnoble, @lukeclifton: Is it true that HMAC verification is only used for webhooks?  So far this package doesn't deal with webhooks at all.

[2015-12-17 21:33] lukeclifton commented on #9
No Shopify use HMAC use throughout their API and whenever interacting with your app.

Sent from my iPhone

[2015-12-18 08:19] froatsnook commented on #9
@lukeclifton I just did a countOrders request, and there was no X-Shopify-Hmac-SHA256 header:

[code]

I mean, it only makes sense to me anyway for webhooks, since no one else should have a valid https certificate for *.myshopify.com.  Are you seeing it with all replies from shopify?  Or just incoming requests?

[2015-12-18 09:19] lukeclifton commented on #9
Its in the form of a url query param. Its included along with the shop and signature params. Its useful particularly during the oAuth process so you can ensure its coming from Shopify.

Also useful for when running an embedded app.

Sent from my iPhone

[2015-12-19 15:54] froatsnook commented on #9
@lukeclifton Got it.  Thanks for the info.

[2015-12-19 15:55] froatsnook commented on #5
1.6.0 with signature checking is published.  Thanks for your help with this one.

[2015-12-19 15:55] #5 closed, assigned to nobody

[2015-12-19 15:56] froatsnook commented on #9
For now I'm not planning on implementing keyset persistence.  I think this should usually live in users.  A ShopifyCredentials collection could be implemented in a package, though!

[2015-12-19 15:56] #9 closed, assigned to nobody

[2015-12-19 21:37] #4 closed, assigned to nobody

[2015-12-19 21:45] froatsnook commented on #4
@galenking @jackphel.  Check out BasicExample.  It has everything wired how I intend.

If you need client-side API access then you'll also need to do this to make it secure:
1. On auth, store the accessToken in Meteor.users (not in the profile => not sent to user)
2. Also store a uuid in the user's profile called `keyset`
3. Also store the shop in the user's profile.
4. Also call `Shopify.onAuth(u

[2016-01-03 22:18] afang opened #13 "Exception in delivering result of invoking 'froatsnook:shopify/HandleAuthRedirect'"
I am getting an error when calling `api.getUsers`:
[code]

```Exception in delivering result of invoking 'froatsnook:shopify/HandleAuthRedirect': Error: Match error: Match error: Expected string, got undefined```

[2016-01-03 22:34] afang commented on #13
I tried calling `api.getUsers()` from the server and got this error:

[code]

code:
[code]

[2016-01-04 08:21] froatsnook commented on #13
OK for your first issue:

1. Have you filled in the `api_key`?
2. How do you define the "default" keyset?
3. Are you sure that the shop name is correct?  It should have a value like "test-store" if your store can be accessed at "test-store.myshopify.com".
4. I'm not sure if creating the Shopify.API using that authenticator will work.  I think if you haven't called `Shopify.harden`, then it might.

[2016-01-04 08:23] froatsnook commented on #13
As for your second comment, according to [Shopify docs](https://docs.shopify.com/api/user),

Are you a Shopify Plus customer?

[2016-01-04 17:26] afang commented on #13
Ah I see, I'm not a Shopify Plus customer. I'm only using the User resource to get the email/ name of the Shopify owner. I guess that's not what this API is intended for.

[2016-01-04 17:54] afang commented on #13
Never mind I'm still having the issue. The app I'm building doesn't use Accounts, so I will need to make the `accessToken` available to the client (currently in Sessions).

[code]

[2016-01-04 18:20] froatsnook commented on #13
You don't need to expose the access token to the client even if you don't use accounts.  I assume you don't mind making the user re-auth after the server reboots?  Just call `Shopify.addKeyset` and it will last until the server reboots.

Here's a quick solution:

[code]

[code]

[2016-01-04 18:24] froatsnook commented on #13
The reason that your example isn't working is that the default keyset (I assume you create this using your api key and secret) only works for auth.  The proper solution is to make a new keyset after each authentication.

If you just want the simple (insecure) solution, you can just pass the `access_token` directly to the new Shopify.API, but then you'll need to specify `insecure: true` as an optio

[2016-01-04 22:43] dbnoble commented on #13
If you want to persist the keysets between reloads, you can write a serverside method to add the new keyset and also save it to a collection in the DB, then reintroduce each keyset on server startup.

For example, in /server/ place a file with:
[code]

There may be a better way to do this, but it works for me.

[2016-01-05 07:53] froatsnook commented on #13
@dbnoble: :+1:

[2016-01-07 17:55] froatsnook commented on #13
Feel free to re-open or open another issue.

[2016-01-07 17:55] #13 closed

[2016-01-10 14:04] dbnoble opened #14 "Refactoring entry-point for Authentication Flow"
I want to get your thoughts on this before spending the time to make the modifications for a pull request.

Currently, the only in-package way to begin the authorization flow without any "bespoke" code is using openAuthTab, and the post_auth_uri logic that is used is locked up in the Authenticator.

I started on a pull request to add the following code to Authenticators.js which I am using current

[2016-01-10 14:37] froatsnook commented on #14
First of all, thank you.  The auth is definitely the most strange/confusing part of this package, so any improvements sound great to me.

I think that your pull request sounds totally sensible.  Using "close" as the default `post_auth_uri` only makes sense when the user is using `openAuthTab`.  [In the README](https://github.com/froatsnook/meteor-shopify#custom-oauth) I talk about two other scenar

[2016-01-10 22:27] dbnoble commented on #14
I am only using `window.top.location.href` as an example because it's the only thing I can think of that makes sense as a default since we aren't psychic. In other words, it's better for the default to go SOMEWHERE instead of just going to a white screen with no further information if they forget to set a `post_auth_uri` when using direct navigation.

I am using an embedded app, but that should be

[2016-01-11 04:44] dbnoble commented on #14
Alright, so let's look at some common usage scenarios where different authTypes would be used. This should also highlight why passing a string like `"embed"` to `post_auth_uri` would be useful by using the `authenticator.config` to constuct the embedded app URI similar to the way `auth_uri` is constructed currently.

**Embedded Apps**

**Traditional Apps**

**Default `post_auth_uri` for authTypes:

[2016-01-11 05:09] dbnoble commented on #14
Another possibility would be to move the method call that passes the authConfig to a handler into the proposed `startAuth()` method so that the `post_auth_uri` can still be modified after the authenticator is defined. We could then decide if it makes more sense to use an `authType` method inside the authenticator options object as proposed OR to simply pass an `authType` directly: `authenticator.s

[2016-01-11 16:26] froatsnook commented on #14
OK I'm starting to wrap my head around this.

I like the following, but it's backwards incompatible.  See below.
~~First of all, I think it would make sense to move the handler installation to `startAuth` so that `authType` can be chosen at `startAuth`-time.  The only potential issue I see is a race condition... what if the user calls `startAuth("popup")`, approves the app, and Shopify calls the "

[2016-01-11 16:28] froatsnook commented on #14
As for default `post_auth_uri`, I agree about using `"close"`, `embedded_app_uri` and `window.top.location.href`.  These sound sensible.

[2016-01-11 16:36] froatsnook commented on #14
OK I see that I added that code for a reason.

From [Shopify's docs](https://docs.shopify.com/embedded-app-sdk/getting-started):

This means that where the OAuth process would normally begin with:

[code]

It should now return a page containing:

[code]

And then there's a reminder that says:

So I'm guessing that we could come up with a good default `post_auth_uri` for embedded app sdk apps, but

[2016-01-11 21:06] dbnoble commented on #14
To construct `embedded_app_uri` it would be `'https://' + this.config.shop + '.myshopify.com/admin/apps/' + this.config.api_key`

I think it would be best to still allow an override via a specified `post_auth_uri` but it is definitely a reasonable default for embedded apps.

[2016-01-11 21:11] dbnoble commented on #14
I would also like to see a way to specify a default handler config for requests that originate from the App Store so that we don't have to rely on a gateway page to define the authenticator and set a handler.

I'll have to look into how to accomplish that.

[2016-01-13 08:04] froatsnook commented on #14
I 100% agree with this one.  My idea is to:
1. Call `installWebAppHandler` on server startup
2. Encourage (via README) all users who want to authenticate in this way (i.e. everyone who's not just making a shopify "integration") to call server-side `Meteor.onAuth`.
3. In this case we want to redirect to `post_auth_uri` since the user is in an iframe

The issue is we need to identify the user client

[2016-01-23 07:04] dbnoble commented on #14
Actually a gateway page isn't a huge deal if we can set the default handler using webapphandler instead of initiating it the normal way, that would solve the problem with the UUID not being set for the state parameter.

That should be doable without actually having to load all the Meteor clientside JS, right? I just hate having to load up the entire Meteor client bundle for something a simple as a

[2016-01-29 23:13] vib3oh opened #15 "Extended Docs / Support for Scenario 3 with ESDK"
Trying to get this working... I posted a question on Stack Overflow, would appreciate any help from you if you can spare me some time :-)

http://stackoverflow.com/questions/35095722/meteor-shopify-authenticator-getpermanentaccesstoken-with-code

p.s. I'm using ngrok for ssl proxy, works nicely maybe add it to your guide where localhost doesn't work so well?

[2016-01-30 06:21] dbnoble commented on #15
Quoting your authenticator code from StackOverflow for reference:

[code]

[2016-01-30 11:47] dbnoble commented on #15
@ArdentKid
There are a few issues with the way you are trying to set up the authenticator, although it's not really your fault because the way Scenario 3 works in the docs is not an 'out of the box' solution and requires a bunch of custom code, including your own handler (I can provide a gist if you REALLY want to build your own handler, but I suggest using the new server-side `onAuth` callback in

[2016-01-30 21:43] vib3oh commented on #15
Very grateful for your help! Just a couple followup q's:

1) Assuming I want to create users upon authorizing the app, how would I grab their email during the onAuth callback...? Looks like the callback assumes the user is already logged in. [Stack Overflow Here](http://stackoverflow.com/questions/35107573/meteor-shopify-user-creation-login-after-auth-callback)

2) If I use post_auth_uri to redire

[2016-01-31 06:44] dbnoble commented on #15
@ArdentKid

**1.** The user's email can be be extracted directly via the API by making a call to retrieve the shop object. You can do something like below in your server-side onAuth callback (untested, rough example) :

[code]

You'll still need to figure out a way to log the user in afterwards and all that. You should also consider that it's quite likely that a user might have different emails fo

[2016-01-31 23:15] vib3oh commented on #15
Pure genius, cannot thank you enough for the help you've given me!

Regarding the `post_auth_uri` however, something's still missing from my understanding. How do I know if the shop owner has already done auth? If my "Application Url" set in shopify settings is my home path "/", and this path has the authenticator defined with `post_auth_uri`, to `https://${shop}.myshopify.com/admin/apps/${api_key

[2016-02-01 00:33] dbnoble commented on #15
Well, that's a bit hard to answer because it's totally dependent on how you have things set up.

You can define your authenticator in your entry route and simply do the necessary checks in the route to see if the user has already authenticated. If they haven't, authenticate. If they have, proceed as usual.

If you don't have anything other than the  authenticator at `/` there's not really a reason

[2016-02-01 00:39] dbnoble commented on #15
Also, don't feel bad that you're not fully "getting it" yet. 2 months ago I was in the same boat, now I'm about 2 weeks away from releasing a production app built around this package and I'm very happy with it.

One of the things I'd like to contribute in the coming months is streamlining and simplifying the documentation so that things are more clear.

[2016-02-01 07:32] froatsnook commented on #15
Sounds good to me :)

[2016-02-01 23:50] vib3oh commented on #15
@dbnoble i've got it working :)
1) I set up my Application Url to the home path, `/` and on the client it calls a meteor method to check if the keyset of the shop exists.
2) If the keyset exists, redirect to `/shopify` (where my content is)
3) If not, it redirects to `/shopify/auth` for the OAuth dialog

I'm also storing user info, although I'm ignoring a few edge cases that you've mentioned. I de

[2016-02-02 07:39] froatsnook commented on #15
@ArdentKid, hopefully your auth flow can be improved soon!  Shopify sends (I think) `code`, `signature`, and `shop` -- everything you need to get the `access_token` -- with the first navigation.  I haven't dug into this yet since the project I built this package for was more of a "click here to get data from shopify" (shopify integration), and not a "install it from shopify app store".

I'm closin

[2016-02-02 07:39] #15 closed, assigned to nobody

[2016-02-02 07:46] froatsnook commented on #15
BTW, I'd love to hear about your project.  Write me on twitter or gmail (my user name) if you have time.

[2016-02-07 05:22] afang opened #16 "Exception in delivering result of invoking 'froatsnook:shopify/HandleAuthRedirect': Error: Auth failed: Error: Method not found [404]"
I'm getting `Exception in delivering result of invoking 'froatsnook:shopify/HandleAuthRedirect': Error: Auth failed: Error: Method not found [404]` when authenticating from the client:

[code]

[2016-02-07 05:25] afang commented on #16
Never mind, fixed the problem.

[2016-02-07 05:25] #16 closed

[2016-02-09 01:41] jamesdeantv opened #17 "Getting Started"
N00b here... How would I actually implement this package into my project.  Im puzzled as to my first steps.  My end goal is to access the shopify api in order to parse a json file and display the results in a meteor template.

[2016-02-09 18:51] froatsnook commented on #17
Hi @jamesdeantv

Can you give me some more info?  Do you just want it to work for your shop?  Or do you want people to be able to install it from the app store?  Or do you already have users and want to add a shopify integration?

[2016-02-10 07:09] afang opened #18 "Callback for getThemes()"
What am I supposed to put in the callback for `api.getThemes()`? The console is giving me this error:

[code]
 authenticate(e) {
        e.preventDefault();
        let storeName = ReactDOM.findDOMNode(this.refs.storeName).value.trim();
        console.log(`Authenticating ${storeName}...`);
        let authenticator = new Shopify.PublicAppOAuthAuthenticator({
            shop: storeName,

[2016-02-10 07:11] afang commented on #18
Also, what's the best way to store the access key without using Accounts?

[2016-02-10 07:22] dbnoble commented on #18
API functions on the front end are proxied through server method so they are expecting to deliver the result to your callback.

You need to do something like
[code]

[2016-02-10 07:32] afang commented on #18
[code]
On the server side it's logging an auth error:

[code]
The list of themes aren't being logged in the client

[2016-02-10 08:41] froatsnook commented on #18
That error means that self._authenticator is null [here](https://github.com/froatsnook/meteor-shopify/blob/master/lib/api.js#L282).  How are you creating `api`?

[code]

So when you call `api.getThemes` on the client, there's a cached API on the server that gets used.  The easiest way to do this is with keysets.  If you call `Shopify.addKeyset` somewhere with your `access_token`, then on the clien

[2016-02-10 08:47] froatsnook commented on #18
Unfortunately there's not a clear answer here.  If you call `Shopify.addKeyset`, you can store the `access_token` until the server restarts.  Maybe that's good enough for you.  I don't recommend using `shop` as the keyset name since (depending on how you implement things) it might be insecure.

If you give me some more info on how your app works I might be able to help!

[2016-02-10 09:46] dbnoble commented on #18
You are instantiating `Shopify.API` without a keyset. The keyset is what holds the access token for the `Shopify.API` methods.

I feel I should point out that you're getting the access token and then never doing anything with it other than assigning it to a Session variable, and maybe as you mentioned a property on your React object, although I don't see that in what you posted.

If you don't mind

[2016-02-10 14:56] afang commented on #18
I have a `Exception in delivering result of invoking 'froatsnook:shopify/HandleAuthRedirect': TypeError: Shopify.addKeyset is not a function` error when adding the Keyset
[code]

[2016-02-11 09:24] froatsnook commented on #18
`Shopify.addKeyset` is server-only.

The proper way to do things is to:

1. Call `Shopify.harden()` in `Meteor.startup` on the server.  This way you don't need to expose the `accessToken` to the client.
2. Provide a `Shopify.onAuth` callback which creates the keyset.
3. Somehow communicate the keyset name to the client.  You could store it in the profile, use the shop name (insecure), or do someth

[2016-02-11 09:33] froatsnook commented on #18
I'm going to generate a uuid called `authId` and pass it to both server-side and client-side `onAuth`s.  This should make keyset name generation easier.

[2016-02-11 10:35] dbnoble commented on #18
You are correct there, sorry I should have mentioned that. You should wrap that part in a method call if you want to do to it from the client side.

[2016-02-16 04:10] afang opened #19 "Cannot read property 'authenticate' of null"
I'm unable to make api calls after authenticating successfully, even though I have the correct keyset when initiating `api`.

[code]

gives `Exception in setTimeout callback: TypeError: Cannot read property 'authenticate' of null`. What is the `authenticate` property?

[2016-02-16 07:54] froatsnook commented on #19
Sorry you're having trouble.  This seems to be a frustrating part of the package for people.

This is client-side, right?

Where are you actually creating the keyset?  Supplying a keyset name in the Authenticator constructor doesn't make it automatically create the keyset for you.  Rather it indicates which keyset should be used to find the `api_key` and `secret` (using keysets in both ways is con

[2016-02-16 14:50] afang commented on #19
Thanks for your patience! I managed to get it working by following your example of adding the keyset before initiating the `authenticator`.

[2016-02-16 14:50] #19 closed

[2016-02-16 15:17] #18 closed

[2016-02-16 16:58] froatsnook commented on #19
This pleases me :).  Good luck with you project!

Pull requests on improving the documentation would be much appreciated!!!

[2016-02-21 20:24] kbrisso commented on #17
Hi @froatsnook
I have a question also. I can use this to build a custom store in Meteor right? I could then just utilize Shopify's check out. I did get the plugin working with my dev store as a private app. I'm just wondering what other people are using this for.

[2016-02-21 21:41] froatsnook commented on #17
Hey @kbrissoGitHub.  Huh, I didn't know that was possible.  How do you start the checkout process?

I made the package while building a tool for a shop owner's warehouse -- take the new orders from the API, generate a pick list, generate bills and packing slips, scan the barcodes on the bills/packing slips to mark orders as fulfilled via the API, etc.

I'm not sure what other users are doing.  Wan

[2016-02-22 23:09] lukeclifton commented on #17
Hey @kbrissoGitHub / @froatsnook.

You could use a Meteor App to create new products via the Shopify API (using this package, or others like it). But you would need some kind of JS script / app within your Shopify theme to actually add the products to the Shopify cart via the cart AJAX API. (https://docs.shopify.com/themes/development/getting-started/using-ajax-api).

This is the breakdown for the

[2016-04-06 15:41] dbnoble opened #20 "Rate limiting"
In terms of this package, is the rate-limiting global or per-instance? From the way it is described, it sounds like I am expected to pass the backoff rate to the instance.

In terms of Shopify itself, is the rate limit per APP ID + ACCESS TOKEN or per APP ID?

I'm having a problem where some of my users have these apps that update products in bulk, each product that is updated fires an individual

[2016-04-06 18:07] froatsnook commented on #20
Hey @dbnoble,

As far as I know, the rate limits from shopify are per app, not per accessToken :(.

I'm sorry that `meteor-shopify` is crashing for you!  It's possible that the rate limiting is just broken (and it might be -- I don't think I ever hit the rate limits, and only have tested with the shopify api simulator in `tests/`), but hopefully the following will help.

## Quick Fix

All of `Shop

[2016-10-04 04:14] thsowers opened #21 "How to use Modify correctly"
There's plenty examples of getting data, but how about one of modifying data? No matter what I try I just get `Exception in setTimeout callback: Error: Missing option id`. I'm passing an object just like in Shopify's documentation:
{
  "product": {
    "id": 632910392,
    "title": "New product title"
  }
}
But every time, `Exception in setTimeout callback: Error: Missing option id`. Am I supposed

[2016-10-04 04:38] thsowers commented on #21
For the record, i've tried without the outer "product" object, like `api.modifyProduct({id: 12345})`, but this just gets me `Error: failed [400] {"errors":{"product":"Required parameter missing or invalid"}}`. It will tell me if the ID is invalid in this case though, so it seems like it's connecting. The real question is how does one modify from there? Passing more keys of the object (such as titl

[2016-10-30 11:32] TheGame2500 opened #22 "Shopify._getPermanentAccessToken is not a function"
Hi there! I'm trying to go through scenario 3 in the tutorial at https://atmospherejs.com/froatsnook/shopify. When I run authenticator.getPermanentAccessToken(code), it's throwing an error saying ' Shopify._getPermanentAccessToken is not a function' . Am I doing something wrong or is there a bug in the library?

[2016-12-07 09:04] TheGame2500 opened #23 "Auth flow randomly throws 'Shopify Auth failed because no handler'"
It's mostly working, but sometimes it just needs some refreshes to work. These are the error logs for 3 refreshes.

1.W20161207-11:01:06.948(2)? (STDERR) No handler (uuid=a6d23636-d2de-4614-b551-e42e7e7d8162)
W20161207-11:01:06.950(2)? (STDERR) Handlers are [ 'c026a73f-53b6-493e-8fb1-d8f7672d796d' ]

2.W20161207-11:01:14.715(2)? (STDERR) No handler (uuid=ca69105b-1400-464c-b90d-7c139af75d50)
W2016

[2016-12-07 09:32] TheGame2500 commented on #23
Solved it by using my own redirect_id as an option in PublicAppOAuthAuthenticator. (just has to be something you know it's going to be unique)

[2016-12-07 09:32] #23 closed, assigned to nobody

[2017-07-19 00:48] EricNetsch opened #24 "API caching not checking for refreshed tokens"
The proxy caching system is only checking the if there is a cache for the Shopify store. This does not take into account other variables such as whether the access token has been changed. A great example is if the store removes your app access and decides to re-install the app at a later date. The access token would be different and therefore should also be checked during the getChachedAPI functio

[2022-08-04 12:28] Sky-bits opened #25 "Error: Invalid 'auth'. Needs 'password' or 'secret' or 'access_token'."
Error: Invalid 'auth'.  Needs 'password' or 'secret' or 'access_token'.
W20220804-17:53:26.680(5.5)? (STDERR)     at Object.Shopify.addKeyset (packages/froatsnook_shopify.js:2490:15)

hi have odd app now getting the Error

@froatsnook  can you help on that.

[2022-08-04 14:01] froatsnook commented on #25
Check out the code [here](https://github.com/froatsnook/meteor-shopify/blob/a51a04705c451a92205e648f13adad5e8159aca2/lib/Keyset.js#L48). Check what you're passing to the `addKeyset` function. If I had to guess I'd say that you're using something from `Meteor.settings` which is not in your `settings.json`.

[2022-08-04 14:03] froatsnook commented on #24
*years later* can you submit a PR? ;)

[2022-08-04 14:21] Sky-bits commented on #25
@froatsnook  I am passing the ``` meteor --settings settings.json```  with key and secrete key   as per your example i am passing the correct data.

[code]

what was the is the missing ?

https://shopify.dev/apps/tools/embedded-app-sdk/methods   this warring  app not working

[2022-08-04 14:23] Sky-bits commented on #25
@froatsnook  i have public app
[code]